.logo {
  height: 120px;
  width: 150px;
}
.header {
  border: 1px solid black;
  box-shadow: 1px 1px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.searchContainer {
  padding: 50px 0;
}
.userIcon {
  height: 50px;
  width: 50px;
  padding: 20px 0;
  margin-right: 5px;
}
